beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
idna==3.10
requests==2.32.3
soupsieve==2.6
urllib3==2.2.3
playwright == playwright-1.51.0 # 동적 스크랩핑.

pip install gspread (upgrad pip 25.x.x 2025/04/09)
pip install --upgrade google-auth
pip install oauth2client
